ROSPATENT_BASE_URL=https://searchplatform.rospatent.gov.ru/patsearch/v0.2
ROSPATENT_API_KEY=put_generated_api_key_here
ALLOWED_ORIGIN=https://<username>.github.io
LOCAL_MOCK_ROSPATENT=0
RATE_LIMIT_PER_MIN=60
REQUEST_TIMEOUT_MS=7000
